<!DOCTYPE html>
<html>
<head>
    <title>Digital Doodles - Main Screen</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <style>

    </style>
</head>
<body>
    <div class="container-fluid">
        <h1 class="mt-4 text-center">Main Screen</h1>
        
        <div id="doodleDisplay" class="row justify-content-center">
            <!-- Placeholder for displaying latest doodle images -->
        </div>
    </div>

    <div class="full-screen-container" id="fullScreenContainer">
        <img id="fullScreenImage" src="" alt="Full Screen Image">
    </div>

    <!-- <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
